/*  
Soft colours like pastel blues and greens
→ Calming and reducing eye strain
 */

:root {
  --primary-bg-color: #d9efff;
  --text-color: #101451;
  --main-bg-color: #c5eabe;
  --main-text-color: #2b5c4c;
  --main-btn-bg-color: #a3b5ee;
}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Navigation Styling */
nav {
  display: flex;
  gap: 30px;
  padding: 10px;
}

/* Styling for the buttons with mouse-over effect */
/* They appear with darker colours so the users understand that they can click on those buttons */
button {
  border-radius: 40px;
  border: 1px solid #152611;
  background-color: lab(82.85% 27.29 -1.51);
  padding: 10px;
  font-weight: 500;
  cursor: pointer;

  -webkit-appearance: none; /*Override default CSS styles*/
  appearance: none;
  background: #e862a572;
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}
button:hover {
  opacity: 1;
}

/* General styling */
body {
  font-family: "Funnel Display", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Create a container for the main content */
.container {
  border-radius: 15px;
  border: 1px solid #e4f9e0;
  background-color: #e4f9e0;
  max-width: 1000px;
  width: 600px;
  padding: 10px;
}

/* Header styling */
header {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 5px 0;
  text-align: center;
  width: 100%;
  font-weight: 700;
  font-size: 1.7rem;
}

/* Media player styling */
.media-player {
  width: 100%;
  margin: 0 auto;
}

.media-player video {
  max-width: 100%;
}

/* Styling for the Volume Slider with mouse-over effect */
#volume {
  -webkit-appearance: none; /*Override default CSS styles*/
  appearance: none;
  width: 40%;
  height: 5px;
  background: #dba5c072;
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  cursor: pointer;
}
#volume:hover {
  opacity: 1;
}

#volume-off-btn {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #152611;
  background-color: lab(82.85% 27.29 -1.51);
}

.volume-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  margin: 20px;
  cursor: pointer;
}

/* Styling for the Progress bar control */

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ecb6d172;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--main-bg-color);
  width: 0;
  transition: width 0.3s ease;
}

/* Styling for Focus mode */
.hidden {
  display: none;
}

#timerDisplay {
  font-size: 5rem;
  font-family: "Funnel Display", sans-serif;
  color: #152611;
}

/* Footer styling */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

/* Navigation styling */
/* nav {
  margin-top: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 25px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);

  
} */

/* li {
  border-radius: 30px;
  border: 1px solid #152611;
  background-color: lab(96.67% -19.9 29.2);
  padding: 10px;
  font-weight: 500;
} */
