/*  
CHOICE OF COLOUR SCHEME AND BACKGROUND:
I chose sky pictures as the web background to make it impressive instead of only coloured background. It also gives relaxing vibes on a bigger platform instead of using them as the small illustration images.
I chose soft colours as the theme as it is calming and reducing eye strain, suitable for the theme of the media player playing music while studying. 
The colour scheme of Focus Mode is darker but more "significant" than the Standard Mode to let the users lock in to the mode of focusing, it's deeper. 
I extracted the colours from both background images and GIF on each Mode to make it relatable and harmonious
It is gentle to look at. However, I want to make the web clean and easy to navigate so the buttons are more highlighted, it's stronger, so they're separated.
The basic buttons (play/pause and volume control) are distinct from the functionalities of the web - Standard/Focus mode (remain the style even when switching modes - different choice of colours)

CHOICE OF FONT:
I think Funnel Display is simple and clean enough to ensure readability without distraction. It's also impressive to look at.

CHOICE OF LAYOUT:
The main function area is small enough to be visible still when the user minimises the tab. It also looks like the ipod, which is handy and looks neat and compact.
Light, simple, minimalist, pretty, and straightforward with the main media player being in the centre of the page, not too big not too small, still fit in when the users minimise the window and have it on the side - still able to interact with the functionalities as they wish. But it's big and neat enough to display its function clearly.
It's quick and easy to navigate and interact, which is convenient for relaxing and focusing on study purpose. I aimed for no distractions/confusion and enhancing productivity.
I made header and footer because it looks empty without them.
*/

:root {
  --primary-bg-color: #e1f8ff;
  --text-color: #f3fee4;
  --main-bg-color: #f2dcb3;
}

/* I made the image as background now as the feedback I got because it looks much better and gives the relaxing vibes */
/* And I found the transition is essential when it gives a feeling of entering the zone of focus - they're going to experience something different. It also creates a blend in colour of the sky instead of viewing it too instant */
body {
  background-image: url("sunset-4086848_1920.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 1s ease-in-out;
}

#media-player-img {
  transition: 1s ease-in-out;
}

/* Navigation Styling */
nav {
  display: flex;
  gap: 30px;
  padding: 10px;
  margin: 10px;
}

/* Styling for the buttons with mouse-over effect */
/* They appear with lighter colours so the users understand that they can click on those buttons */
/* Same as the pointer as cursor, to convey that they are clickable */
button {
  border-radius: 40px;
  border: 1px solid #c2909e;
  background-color: #f6d0e4;
  padding: 10px;
  font-weight: 500;
  cursor: pointer;
  color: #824355;
  /*Override default CSS styles*/
  -webkit-appearance: none;
  appearance: none;
  opacity: 1;
  -webkit-transition: 0.1s; /* 0.1 second transition on hover */
  transition: opacity 0.1s;
}
/* I set transparency (for mouse-over effects on hover) */
button:hover {
  opacity: 0.8;
}

/* I want the buttons with text have different colours from the buttons for Play/Pause/Volume */
.function-button {
  border: none;
  background-color: #3b8c66;
  border: 1px solid #749988;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* General styling */
body {
  font-family: "Funnel Display", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Create a container for the main content */
.container {
  border-radius: 15px;
  border: 1px solid#c2cbab;
  /* background-color: #e4f9e0; */
  background-color: #e6efcc;
  max-width: 1000px;
  width: 500px;
  height: 450px;
  padding: 20px;
  /* margin: 10px; */
  padding-bottom: 20px;
  margin-top: -20px;
}

/* Header styling */
header {
  background-color: var(--main-bg-color);
  color: #f2d8c2;
  padding: 5px 0;
  text-align: center;
  width: 100%;
  font-weight: 700;
  font-size: 1.7rem;
  margin-bottom: -13px;
}

/* Media player styling */
.media-player {
  width: 100%;
}

#background-img {
  width: 100%;
}

/* Styling for the Volume Slider with mouse-over effect */
#volume {
  -webkit-appearance: none; /*Override default CSS styles*/
  appearance: none;
  width: 45%;
  height: 5px;
  background: #f6d0e4;
  opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  cursor: pointer;
}
#volume:hover {
  opacity: 1;
}

.volume-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* Styling for the Controls */

.standard-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.1rem;
  margin-top: 23px;
  margin-bottom: 20px;
  width: 100%;
  cursor: pointer;
}

.focus-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.1rem;
  margin-top: 20px;
  margin-bottom: 3px;
  width: 100%;
  cursor: pointer;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #f6d0e4;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--main-bg-color);
  width: 0;
  transition: width 0.3s ease;
}

/* Styling for Focus mode */
.hidden {
  display: none;
}

#timer-display {
  font-size: 3rem;
  font-weight: 550;
  color: #401515;
  font-family: "Funnel Display", sans-serif;
  /* margin-top: -10px; */
  /* margin-bottom: -20px; */
}

/* Footer styling */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin-top: 30px;
  font-size: 0.7rem;
}

/* Navigation styling */
/* nav {
  margin-top: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 25px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);

  
} */

/* li {
  border-radius: 30px;
  border: 1px solid #152611;
  background-color: lab(96.67% -19.9 29.2);
  padding: 10px;
  font-weight: 500;
} */
