/* I wanted to bring the theme of Luni, the reviewed website, to my response page so it evokes the sense of familiarity. I analysed the original page a bit to see how the gradient background works. So I applied to mine: a linear gradient that starts at top left (and goes to bottom right) with the shades of blue and violet */

#header {
  list-style-type: none;
  font-family: "Roboto Mono", monospace;
  color: rgb(67, 39, 62);
  font-weight: 400;
  font-size: 0.8rem;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  /* border: 1px solid black; */
  border-bottom-color: rgb(64, 43, 99);
  background-color: rgb(250, 242, 253);
  padding: 7px;
}

#header > * {
  flex: 1;
}

a {
  color: rgb(133, 70, 150);
}

body {
  background-image: linear-gradient(to bottom right, #9dd1ef, #dfb1f5, #e0c9f4);
}

/* As for the font choice, I tried to represent the original website as much as I can. Although I was not sure if Bricolage Grotesque was exactly their font or not but they looked pretty similar so I decided on it. It also looks elegant and suitable for gradient color */
h1 {
  margin-top: 30px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 500;
  font-size: 8rem;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: center;
  /* set background colour*/
  background-image: linear-gradient(to bottom, #ffffff, hsl(218, 78%, 87%));
  /* clip that colour to the shape of the text, but the colour is hidden by the text */
  -webkit-background-clip: text;
  background-clip: text;
  /* so set the text colour to transparent so I can see through it, the gradient one */
  color: transparent;
  /* display:inline-block; */
}

/* h2,
h3 {
  font-family: "Roboto Mono", monospace;
  color: rgb(67, 39, 62);
  font-weight: 400;
  font-size: 1rem;
  text-align: center;

  At first, I made 3 subheadings but that choice didn't match my design so I moved them on top which now belongs to navigation bar and that also includes a link to the original website too. The header on top with different colour highlights my page better instead of merely one background colour.
} */

h2 {
  font-family: "Bricolage Grotesque", sans-serif;
  color: rgb(67, 39, 62);
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  background-color: rgb(251, 242, 247);

  border-radius: 15px;
  border: 1px solid rgb(64, 43, 99);
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  padding: 2px;
  width: 620px;
}

h3 {
  font-family: "Roboto Mono", monospace;
  color: rgb(45, 35, 70);
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
}

.number {
  font-family: "Source Sans 3", sans-serif;
  color: rgb(45, 35, 70);
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
}

.title {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: auto;
  margin-bottom: -20px;
}

/* I used section to set some general styling because they're mostly the same at first place. Then, for each of the number or text part in each question and answer, I identified class/ID to specifically style them if needed, so I won't repeat the common points. */

section {
  color: #1f0d4f;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  text-align: justify;
  /* margin: 50px; */
}

.question1to4 {
  width: 620px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(251, 242, 247);
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 15px;
  border: 1px solid rgb(64, 43, 99);
  margin: auto;
  margin-bottom: 20px;
  /* padding: 20px; */
  line-height: 1.5;
}

img {
  width: 250px;
  height: 160px;
  border-radius: 10px;
  /* border: 1px solid black; */
}

li {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.question {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;

  /* margin: 60px; */
}

.answer {
  background-color: rgb(251, 242, 247);
  border-radius: 15px;
  border: 1px solid black;
  border-color: rgb(64, 43, 99);
  margin: 15px;
  padding: 20px;
  text-align: justify;
}

.qa1to4 {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: auto;
  margin-bottom: -15px;
  gap: 5px;
}

.qa1to4 > * {
  flex: 1;
}

.question5to6 {
  width: 620px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(251, 242, 247);
  /* border-radius: 15px; */
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  border: 1px solid rgb(64, 43, 99);
  padding: 25px;
  line-height: 1.5;
  margin: auto;
  margin-bottom: 20px;
  line-height: 1.5;
}

#qa56 {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: auto;
  margin-top: 20px;
  gap: 20px;
}

.number56 {
  font-family: "Source Sans 3", sans-serif;
  color: rgb(45, 35, 70);
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  border-radius: 50%;
  background-color: rgb(155, 155, 206);
  /* padding: 12px; */
  width: 350px;
  border: 1px solid rgb(64, 43, 99);
}

.question56 {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 30px;
  background-color: #fce2f1;
  border: 1px solid rgb(64, 43, 99);
  padding: 10px;
  margin-left: -10px;
}

.title56 {
  width: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: auto;
  /* margin-top: 70px; */
}
