/*  
CHOICE OF COLOUR SCHEME:
I chose soft colours: pastel blues and greens for the main background as it is calming and reducing eye strain, suitable for the theme of the media player playing music while studying. 
It is gentle to look at. However, I want to make the web clean and easy to navigate so the buttons are more highlighted, still with the pastel colours, but pink and yellow, so they're separated.
The basic buttons (play/pause and volume control) are in yellow, distinct from the functionalities of the web - Standard/Focus mode. 
CHOICE OF FONT:
I think Funnel Display is simple and clean enough to ensure readability without distraction. It's also impressive to look at.
CHOICE OF LAYOUT:
Light, simple, minimalist, pretty, and straightforward with the main media player being in the centre of the page, not too big not too small, still fit in when the users minimise the window and have it on the side - still able to interact with the functionalities as they wish. But it's big and neat enough to display its function clearly.
It's quick and easy to navigate and interact, which is convenient for relaxing and focusing on study purpose. I aimed for no distractions/confusion and enhancing productivity.
*/

:root {
  --primary-bg-color: #e1f8ff;
  --text-color: #415699;
  --main-bg-color: #c3edba;
  /* --main-bg-color: #d682af; */
}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("sunset-4086848_1920.jpg");
}
/* Navigation Styling */
nav {
  display: flex;
  gap: 30px;
  padding: 10px;
  margin: 10px;
}

/* Styling for the buttons with mouse-over effect */
/* They appear with lighter colours so the users understand that they can click on those buttons */
/* Same as the pointer as cursor, to convey that they are clickable */
button {
  border-radius: 40px;
  border: 1px solid #41569956;
  background-color: #f8aed3;
  padding: 10px;
  font-weight: 500;
  cursor: pointer;
  color: #415699;
  /*Override default CSS styles*/
  -webkit-appearance: none;
  appearance: none;
  opacity: 1;
  -webkit-transition: 0.1s; /* 0.1 second transition on hover */
  transition: opacity 0.1s;
}
/* I set transparency (for mouse-over effects on hover) */
button:hover {
  opacity: 0.8;
}

/* General styling */
body {
  font-family: "Funnel Display", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Create a container for the main content */
.container {
  border-radius: 15px;
  border: 1px solid #869e826d;
  /* background-color: #e4f9e0; */
  background-color: #e1fde2;
  max-width: 1000px;
  width: 500px;
  padding: 20px;
  margin: 10px;
}

/* Header styling */
header {
  background-color: var(--main-bg-color);
  color: #285a48;
  padding: 5px 0;
  text-align: center;
  width: 100%;
  font-weight: 700;
  font-size: 1.7rem;
}

/* Media player styling */
.media-player {
  width: 100%;
}

#background-img {
  width: 100%;
}

/* Styling for the Volume Slider with mouse-over effect */
#volume {
  -webkit-appearance: none; /*Override default CSS styles*/
  appearance: none;
  width: 40%;
  height: 5px;
  background: #fdd7ea;
  opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  cursor: pointer;
}
#volume:hover {
  opacity: 1;
}

#volume-off-btn {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #fefabd;
  border: 1px solid #65603d;
}

.volume-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  margin: 15px;
  cursor: pointer;
}

/* Styling for the Progress bar control */

#play-pause-btn {
  border: none;
  background-color: #fefabd;
  border: 1px solid #65603d60;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.1rem;
  margin-top: 15px;
  width: 100%;
  cursor: pointer;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #fdd7ea;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--main-bg-color);
  width: 0;
  transition: width 0.3s ease;
}

/* Styling for Focus mode */
.hidden {
  display: none;
}

#timer-display {
  /* margin-right: 50px; */
  font-size: 3rem;
  font-weight: 550;
  color: #415699;
  font-family: "Funnel Display", sans-serif;
}

/* Footer styling */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin-top: 30px;
}

/* Navigation styling */
/* nav {
  margin-top: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 25px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);

  
} */

/* li {
  border-radius: 30px;
  border: 1px solid #152611;
  background-color: lab(96.67% -19.9 29.2);
  padding: 10px;
  font-weight: 500;
} */
